@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

$dndFont: Castoro Titling, sans-sarif;
$parFont: Baloo2, sans-sarif;
$fadedBorderColor: #808080d9;
$backgroundColor: #e5e5e5;
$dndBorder: url("../assets/border.png");
$desktop: 1600px;
