@import "Utilities";

.gear-wrapper {
  border: 17px solid transparent;
  border-image: $dndBorder 116;
  background-color: $sectionBGColor;
  min-height: 300px;
  max-height: 400px;
  overflow: auto;
  min-width: calc(100% - 55px);
  @media (min-width: $desktop) {
    position: relative;
    top: 22%;
    right: 50%;
    left: 50%;
    transform: translate(-50%);
    width: 500px;
    min-width: 0;
  }

  .key_range {
    flex-direction: column;
    flex-wrap: nowrap;

    .item-value {
      display: flex;
      flex-direction: row;
      margin-left: 10px;
      h4 {
        padding: 0;
        font-size: 15px;
        font-weight: 600;
      }
      p {
        padding-right: 5px;
      }
    }
  }
  .gear-item {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #ababab;
    font-size: 15px;
    background-color: $backgroundColor;
    .gear-item-stats {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    .key_name {
      .name {
        word-break: break-word;
      }
    }
    .desc-container {
      word-wrap: break-word;
    }
    .gear-info {
      display: flex;

      h4 {
        padding-right: 5px;
      }
    }

    .delete-item-btn {
      height: 20px;
      font-size: 27px;
      border: none;
      background-color: transparent;
    }
  }
}
