@import "Utilities";

* {
  margin: 0;
  padding: 0;
  font-family: $dndFont;
}
html,
body {
  background-color: #fff0c4;
}
.skills-container {
  padding-block: 10px 15px;
  border-top: 1px solid $fadedBorderColor;

  .ismax-container {
    border: 1px solid $fadedBorderColor;
    width: 135px;
    box-shadow: 1px 1px 0px 0px rgba(117, 117, 117, 0.91);
    background-color: $importantBGColor;
    border: 1px solid rgba(128, 128, 128, 0.8509803922);
    label {
      font-family: $parFont;
    }
    .max-input {
      width: 30px;
      font-size: 17px;
      font-weight: bold;
    }
  }
  .skill-choose {
    padding-bottom: 10px;
    font-family: $parFont;
    font-size: 18px;
  }
  .chosen-skills-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid $fadedBorderColor;
    background: $backgroundColor;
    box-shadow: 0px 1px 2px 2px rgba(117, 117, 117, 0.91);
    margin-bottom: 10px;
    padding: 5px;
    span {
      font-family: $parFont;
      font-size: 12px;
      color: rgb(65 65 65 / 85%);
    }
    .chosen-skill {
      font-weight: bold;
      padding: 3px;
      margin-inline: 2px;
      svg {
        padding-inline: 5px 0px;
      }
    }
  }
  .all-skills {
    background-color: $backgroundColor;

    box-shadow: 0px 1px 2px 2px rgb(117 117 117 / 91%);
  }

  .skill {
    font-size: 15px;
    font-weight: bold;
    margin: 3px;
    padding: 2px;
    box-shadow: 2px 2px 2px 0px rgba(117, 117, 117, 0.91);
    &:disabled {
      display: none;
    }
  }
}

button {
  background-color: $buttonColor;
}

.popup-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid;
  width: calc(100% - 50px);
  max-width: 500px;
  margin: auto;
  top: 360px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  background: rgb(80 66 66 / 97%);
  box-shadow: 0px 0px 11px 8px rgba(0, 0, 0, 0.56);
  z-index: 5;

  .type-option {
    font-size: 20px;
    background: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    &:focus {
      background-color: green;
    }
  }

  #custom-char-btn {
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    background-color: white;
  }
}
.category-tabs {
  display: flex;
  justify-content: center;
}
.category-btn {
  background-color: #ffc558c4;
  font-size: 19px;
  font-weight: bold;
  margin: 3px;
  padding: 2px 2px 0;
}

.loading {
  text-align: center;
  font-size: 30px;
}

input {
  height: 25px;
  border: none;
  box-sizing: border-box;
  padding-top: 9px;
  border-bottom: 2px solid;
  text-align: center;
  background: transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.h4-title {
  text-decoration: underline;
}

.counter-container {
  display: flex;
  font-size: 20px;
  align-items: flex-end;
  h4 {
    font-size: 17px;
  }
  .item-count {
    margin-right: 10px;
    height: 22px;
    &::before {
      content: "x";
      font-size: 12px;
      margin-right: 2px;
    }
  }
  button {
    width: 28px;
    font-size: 28px;
    height: 28px;
    padding-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.tab-header {
  display: flex;
  color: gray;
  justify-content: center;
  border-bottom: 2px solid;
  border-radius: 15px;
  font-weight: 700;
  margin-bottom: 17px;
}

.key_stealth_disadvantage {
  h4 {
    font-weight: 500;
    color: #9d4242;
    text-decoration: underline;
  }
}

.key_components {
  p {
    padding-left: 6px;
    &:not(:last-child)::after {
      content: " | ";
    }
  }
}
.key_desc,
.key_higher_level {
  p {
    font-family: $parFont;
    font-size: 19px;
  }
}
.key_desc {
  p {
    padding-block: 7px;
    &:nth-child(odd) {
      border-block: 1px solid $fadedBorderColor;
    }
  }
}
.key_classes {
  p:not(:last-child):after {
    content: ",";
    padding-right: 5px;
  }
}
.key_damage {
  flex-direction: column;

  .key_damage_type {
    display: flex;
    margin-block: 5px;
  }
  .key_higher_level {
    display: flex;
    flex-wrap: wrap;

    .item-value {
      display: flex;

      &::before {
        content: "|";
        padding-inline: 6px;
      }
    }
  }
}
.key_area_of_effect {
  display: flex;
  flex-direction: column;
  .item-value {
    display: flex;
  }
  .key_size::after {
    content: "ft";
    font-family: $parFont;
  }
}
.key_heal_at_slot_level {
  .item-value {
    display: flex;

    p::after {
      content: "hp";
      font-family: $parFont;
      font-weight: 50;
    }
    &::before {
      content: "|";
      padding-inline: 6px;
    }
  }
}
.key_dc {
  flex-direction: column;
  .item-value {
    display: flex;
  }
}
