* {
  margin: 0;
  padding: 0;
}

.class-container {
  position: relative;
  margin: 10px;
  height: 150px;
  border: 2px solid;

  .name-container {
    position: absolute;
    display: flex;
    padding: 5px;
    align-items: center;
    width: calc(100% - 100px);
    #name {
      width: 100%;
    }
  }

  .lvl-containter {
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    align-items: center;
    #level {
      width: 45px;
      border: 1px solid;
    }
  }

  .race-container {
    display: flex;
    #race {
      margin-left: 4px;
      border-bottom: 2px solid;
    }
  }

  input {
    height: 25px;
    border: none;
    border-bottom: 2px solid;
    text-align: center;
  }
}
