@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

$dndFont: Castoro Titling, sans-sarif;
$parFont: Baloo2, sans-sarif;
$fadedBorderColor: #808080d9;
$backgroundColor: #e5e5e5;

* {
  margin: 0;
  padding: 0;
  font-family: $dndFont;
}

.character-selector {
  display: flex;

  margin-top: 5px;
  width: calc(100% - 71px);
  margin-inline: auto;
  align-items: center;
  .selector {
    width: 100%;
  }
  .create-character-btn {
    display: flex;
    height: 34px;
    font-size: 30px;
    background-color: white;
    border: 1px solid #cccccc;
    border-left: none;
    border-radius: 0 30% 30% 0;
  }
  .delete-character-btn {
    display: flex;
    height: 34px;
    font-size: 30px;
    color: #c73737;
    background-color: white;
    border: 1px solid #952525;
    border-right: none;
    border-radius: 30% 0 0 30%;
  }
}

.delete-character-wrapper {
  position: fixed;
  width: 87%;

  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 17px solid transparent;
  border-image: url("./assets/border.png") 116;
  box-shadow: 1px 1px 14px 0px #000000;
  .delete-Character-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    header {
      font-weight: bold;
      text-decoration: underline;
      font-size: 20px;
    }
    p {
      text-align: center;
    }
    span {
      font-weight: bold;
      text-decoration: underline;
      color: #9d0e0e;
    }
    .confirmation-btns {
      // margin-top: 15px;
      button {
        margin-inline: 12px;
        width: 50px;
        font-weight: bold;
      }
      .yes {
        color: #9d0e0e;
      }
      .no {
        color: green;
      }
    }
  }
}

.character-details-container {
  margin: 10px;
  border: 17px solid transparent;
  border-image: url("./assets/border.png") 116;

  .character-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    label {
      text-decoration: underline;
    }
    .detail {
      display: flex;

      gap: 4px;
      padding: 5px;
      font-size: 19px;

      .level {
        text-decoration: underline;
      }
    }
    .lvl-up-btn {
      font-size: 16px;
      grid-column-start: 2;
      font-weight: bold;
    }
  }

  .level-up-tab-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 5px;
    right: 5px;
    z-index: 2;
    margin-inline: auto;
    min-height: 250px;
    background-color: white;
    border: 17px solid transparent;
    border-image: url("./assets/border.png") 116;
    .new-health-container {
      .hit-dice {
        text-decoration: underline;
        padding-bottom: 10px;
      }
      .new-health-input {
        margin-inline: 5px;
        width: 35px;
        font-size: 20px;
      }
    }
    .new-features-container {
      padding: 5px;
      margin-top: 10px;
      border-block: 2px solid;
      border-bottom: 1px solid #808080d9;
      box-shadow: 0px 1px 2px 2px rgba(117, 117, 117, 0.91);
      background-color: $backgroundColor;
      .perk {
        padding-block: 4px;
        p {
          font-family: $parFont;
          font-size: 18px;
        }
      }

      .item-value,
      .perk_prof_bonus {
        display: flex;
        p {
          padding-left: 5px;
        }
      }
      .perk_features,
      .perk_spellcasting,
      .perk_class_specific {
        border-block: 1px solid $fadedBorderColor;
      }
    }
    .save-btn {
      margin-top: 15px;
      font-size: 18px;
      font-weight: bold;
    }
    .close-btn {
      align-self: flex-end;
      font-size: 18px;
      background-color: lightgrey;
      width: 30px;
      height: 28px;
      font-size: 25px;
      text-align: center;
      border: 1px solid;
      border-radius: 7px;
      margin: 0 5px 10px;
    }
  }
  .health-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid;
    border-radius: 20%;
    margin-top: 9px;
    padding-top: 9px;
    header {
      text-decoration: underline;
    }
    .health-container {
      display: flex;
      align-items: center;
      margin-left: 25px;
      button {
        font-size: 19px;
        font-weight: bold;
        margin-inline: 3px;
        padding: 3px;
        height: 31px;
      }
      .health {
        display: flex;

        align-items: center;
        font-size: 20px;
        border: 1px solid;
        border-radius: 3px 15px 3px 15px;
        padding: 5px;
        margin-inline: 8px;

        text-align: center;

        input {
          width: 44px;
          border-bottom: none;
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }
}

.show-character-info {
  position: fixed;
  left: calc(100% - 45px);
  top: 65px;
  z-index: 999;
  font-size: 26px;
  height: 37px;
  width: 37px;
  padding-top: 4px;
  border-radius: 30%;
  background-color: #c7c7c7a6;
}

.character-info-wrapper {
  position: absolute;
  z-index: 998;
  left: 5px;
  right: 5px;
  margin-inline: auto;

  background-color: white;
  border: 17px solid transparent;
  border-image: url("./assets/border.png") 116;
  min-height: 250px;
  .character-tabs {
    margin-bottom: 20px;

    background-color: #e7e7e7;
    border: 10px solid $fadedBorderColor;
    border-image: url("./assets/border.png") 116;
    padding-block: 2px;
    button {
      font-size: 16px;
      font-weight: bold;
      margin-inline: 3px;
      padding-inline: 3px;
      height: 22px;
    }
  }

  .overview-container {
    header {
      font-weight: bold;
      border-bottom: 2px solid $fadedBorderColor;
      text-decoration: underline;
    }
    .char-name {
      margin-block: 10px;
    }
    .class-name {
      margin-top: 10px;
    }
    .class-details {
      background-color: #ebebeb;
      border: 2px solid #bcbcbc;
      padding-inline: 7px;
      margin-top: 10px;
      border-radius: 2%;
    }
    .base-detail {
      display: flex;
      padding-block: 5px;
      align-items: center;

      h4 {
        text-decoration: underline;
        margin-right: 5px;
      }
      p {
        font-size: 18px;
        font-weight: bold;
      }
    }

    .overview {
      border: 1px solid $fadedBorderColor;
      background-color: #e5e5e5;
      box-shadow: 0px 1px 2px 1px rgba(117, 117, 117, 0.91);
      margin-block: 10px;
      .base-proficiencies,
      .saving-throws,
      .skill-profs,
      .ability-improvements {
        display: flex;
        flex-wrap: wrap;
        padding-block: 5px;

        p {
          font-weight: bold;
          padding: 3px 3px 0;
          margin: 3px;
          border: 1px solid $fadedBorderColor;
          background-color: #fbfbfb;
          box-shadow: 2px 2px 2px 0px rgba(117, 117, 117, 0.91);
        }
      }
      .base-proficiencies {
        p {
          padding: 3px;
          font-family: $parFont;
          font-weight: normal;
          font-size: 18px;
        }
      }
    }
    .race-details {
      margin-block: 20px;
      header {
        margin-bottom: 10px;
      }
      .race-name {
        float: left;
        padding-right: 5px;
      }
      .base-details-container {
        display: flex;
        justify-content: space-between;
        border: 1px solid $fadedBorderColor;
        background-color: #ebebeb;
        padding: 2px 13px;
        margin-block: 10px;

        .race-detail {
          display: flex;
        }
        h4 {
          float: left;
          padding-right: 5px;
        }
        span:not(.line-brake) {
          position: relative;
          bottom: 5px;
          font-size: 10px;
          margin-bottom: 14px;
        }
      }
      .languages {
        border: 1px solid $fadedBorderColor;
        background-color: #ebebeb;
        padding-left: 5px;
        p {
          font-family: $parFont;
          font-size: 20px;
          &::before {
            content: "•";
            margin-right: 3px;
          }
        }
      }
    }
    .class-lvl-details {
      background-color: $backgroundColor;
      box-shadow: 0px 1px 2px 2px rgba(117, 117, 117, 0.91);
      padding: 5px;
      margin-top: 20px;
      .perk {
        border-bottom: 1px solid rgba(128, 128, 128, 0.8509803922);
        padding-block: 4px;
      }
      .perk_prof_bonus {
        display: flex;
        align-items: center;
      }
      p {
        font-family: $parFont;
        font-size: 21px;
      }
      h4 {
        text-decoration: underline;
      }
      .prof_bonus_title {
        float: left;
        padding-right: 5px;
      }
    }
  }

  .traits-container,
  .class-abilities-container,
  .subclass-abilities {
    margin-block: 5px;
    p {
      margin-block: 3px;
      padding-top: 4px;
    }
    p::before {
      content: "•";

      margin-right: 3px;
    }
    p:nth-child(even) {
      background-color: #e7e7e7;
    }
  }
  .class-specifics {
    padding-top: 3px;
    margin-bottom: 10px;
    background-color: #e7e7e7;
    border: 1px solid $fadedBorderColor;
    .item-value {
      display: grid;
      margin-block: 3px;
      justify-content: start;
      padding-left: 7px;

      .key_spell_slot_level {
        h4 {
          text-decoration: underline;
        }
        p {
          font-weight: bold;
        }
      }

      .h4-title {
        text-decoration: none;
      }
      p {
        grid-column-start: 2;
        margin-left: 3px;
      }
    }
  }

  .spell-dc {
    background-color: #e7e7e7;
    border: 2px solid $fadedBorderColor;
    margin-block: 5px 10px;
    width: 235px;
    padding-top: 3px;
    span {
      position: absolute;
      top: 100px;
      font-size: 13px;
      margin-block: -10px 10px;
      color: gray;
      font-family: $parFont;
    }
  }
  .spell-container {
    .known-spells,
    .prepared-spells,
    .cantrips {
      h4 {
        margin-block: 10px 5px;
        text-decoration: underline;
      }
      padding-bottom: 5px;
      &:nth-child(even) {
        border-block: 2px solid $fadedBorderColor;
      }

      button {
        font-weight: bold;
        font-size: 15px;
        margin: 3px;
        padding: 3px 3px 0;
      }
    }
    .cantrips {
      button {
        border-color: #d05555ab;
      }
    }
    .prepared-spells {
      button {
        border-color: #5ed583;
      }
    }
    .spell-slot-container {
      border: 1px solid $fadedBorderColor;
      background-color: #e7e7e7;
      box-shadow: 5px 3px 2px 0px rgba(0, 0, 0, 0.39);
      .h4-title {
        font-size: 20px;
        border-bottom: 1px solid;
      }
      .spell-slot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $fadedBorderColor;
        padding: 4px 30px 4px 7px;
        h4 {
          font-size: 18px;
          text-decoration: underline;
        }
        p {
          font-family: $dndFont;
          font-weight: bold;
          font-size: 18px;
          text-decoration: underline;
        }
      }
    }
  }
}

.feature-desc-wrapper {
  animation: scale-animation 0.5s ease 0s 1 normal forwards;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  top: 3%;
  left: 5px;
  right: 5px;
  margin-inline: auto;
  box-shadow: 1px 1px 11px 1600px rgb(0 0 0 / 22%);
  border: 17px solid transparent;
  border-image: url("./assets/border.png") 116;
  z-index: 998;

  .feature-container {
    display: flex;
    flex-direction: column;
    .delete-spell-btn {
      font-size: 30px;
      height: 35px;
      background-color: transparent;
      border: none;
      margin: auto;
      margin-right: 13px;
    }
    .perpare-spell-btn {
      font-size: 20px;
      font-weight: bold;
      margin-block: 15px 5px;
    }
  }

  .feature-info {
    p {
      padding-block: 5px;
      font-size: 19px;
      font-family: $parFont;
      &:nth-child(even) {
        border-block: 1px solid $fadedBorderColor;
      }
    }
  }
}
.character-creator {
  display: flex;
  flex-direction: column;
  border: 17px solid transparent;
  border-image: url("./assets/border.png") 116;

  margin: 10px 3px;
  .name-label {
    height: 40px;
    border-bottom: 2px solid #cccccc;
    .name {
      width: calc(100% - 60px);
      font-size: 15px;
    }
  }
  .levels-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .new-level-btn {
      margin-top: 20px;
      font-size: 18px;
      padding: 3px 9px;
      font-weight: bold;
      box-shadow: 2px 2px 1px 0px #000000;
    }
    .level-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    .level-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(100% - 10px);

      .level,
      .level-collapsed {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border: 1px solid;
        margin-block: 8px;
        background-color: rgb(255, 255, 255);
        &:not(.level-collapsed) {
          box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.6);
          background-color: rgb(221 221 221);
          border: 2px solid;
        }

        h4 {
          text-align: center;
          margin-top: 7px;
          width: 100%;
          font-size: 20px;
          border-bottom: 2px solid #000000;
        }
        .ability-improv-toggle {
          background-color: #dbdbdb;
          border: 2px solid;
          border-radius: 20px;

          padding-left: 8px;
          margin-block: 15px 4px;

          span {
            font-weight: 600;
            padding-right: 5px;
          }
          .toggle-switch {
            height: 23px;
          }
        }

        .new-level-btn {
          margin-block: 10px 20px;
        }

        .level-feature,
        .custom-class-specifics {
          display: flex;
          margin-block: 10px;
          padding-block: 15px;
          width: calc(100% - 16px);
          justify-content: center;
          flex-wrap: wrap;
          border: 1px solid $fadedBorderColor;
          background-color: white;
          margin-inline: auto;
          span {
            font-family: $parFont;
            color: $fadedBorderColor;
            padding-inline: 5px;
          }
          input {
            font-size: 16px;
            font-weight: bold;
            width: calc(100% - 12px);
          }
          p {
            font-weight: bold;
          }
          textarea {
            padding: 3px;
            font-family: $parFont;
            font-size: 17px;
            width: 91%;
            height: 110px;

            margin-top: 10px;
            margin-inline: 7px;
            max-width: 92%;
            min-width: 180px;
            min-height: 30px;
            background-color: #f9f9f9;
            padding-inline: 5px;
          }

          .custom-class-spec-lvl-container {
            width: 100%;
            .custom-class-specifics-editor {
              display: flex;
              justify-content: space-between;
              align-items: flex-end;
              padding-inline: 8px;
              input {
                width: 40px;
              }
              h4 {
                width: initial;
              }
            }
          }
        }
        .custom-class-specifics {
          h4 {
            border-color: $fadedBorderColor;
          }
          .class-spec-creator {
            display: flex;
            justify-content: space-around;
            width: inherit;
            margin-top: 10px;

            .class-spec-name {
              width: calc(100% - 80px);
            }
            .class-spec-value {
              width: 50px;
            }
          }
          .new-feature-btn {
            margin-block: 20px 0;
          }
          .custom-spell-slots-container {
            display: flex;
            flex-direction: column;
            margin-top: 50px;
            margin-inline: 5px;
            width: inherit;
            padding: 2px 5px 8px;
            border: 1px solid $fadedBorderColor;
            background-color: rgb(221 221 221);
            box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.6);
            .spell-slot {
              display: flex;
              justify-content: space-between;
              align-items: flex-end;
              h4 {
                font-size: 18px;
                width: 200px;
              }
              input {
                width: 30px;
                margin-right: 8px;
              }
            }
            &::before {
              content: "";
              position: relative;
              bottom: 25px;

              border-top: 2px solid $fadedBorderColor;
            }
          }
        }
        .new-feature-btn {
          margin-bottom: 15px;
          font-size: 15px;
          padding: 3px;
          font-weight: bold;
          box-shadow: 2px 2px 1px 0px #000000;
        }
      }
      .level-collapsed {
        .level-feature {
          padding-block: 1px;
          margin-block: 1px;
          border: none;
        }
      }
    }
  }

  .class-container {
    display: flex;
    flex-direction: column;

    .class-name {
      display: flex;

      margin-top: 20px;
      #class-label {
        align-self: center;
        padding-right: 5px;
      }
    }
    .starting-level {
      margin-top: 10px;
      box-shadow: 1px 1px 0px 0px rgba(117, 117, 117, 0.91);
      background-color: #e5e5e5;
      width: 185px;
      border: 1px solid rgba(128, 128, 128, 0.8509803922);
      label {
        font-weight: bold;
      }
      input {
        margin-left: 5px;
        width: 35px;
        font-size: 18px;
        font-weight: bold;
      }
    }
    .stat-roll-wrapper {
      border-block: 1px solid $fadedBorderColor;
      margin-top: 9px;
      padding-block: 9px;
      .roll-save-btn {
        display: flex;
        margin-top: 10px;
        justify-content: center;
        margin-inline: auto;
        font-size: 18px;
        width: 150px;
        height: 28px;
      }
    }
    .stat-roll-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      width: 306px;
      padding-block: 8px;
      margin: auto;
      justify-items: center;
      .stat {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80px;
        border: 11px solid transparent;
        border-image: url("./assets/border.png") 81;
        .base-stat-roll {
          font-size: 22px;
          width: 100%;
          background: transparent;

          border-top: 2px solid;
          border-bottom: none;

          border-radius: 20px;
        }
        .base-stat-bonus {
          font-size: 29px;

          border: none;

          height: 33px;
        }
      }
    }
    .class {
      text-decoration: underline;
      flex-grow: 1;
    }
    .delete-class-btn {
      font-size: 23px;
      height: 25px;
      border: none;
      background: none;
      margin-right: 10px;
    }

    .custom-class-wrapper {
      display: flex;
      flex-direction: column;
      margin-top: 12px;
      .save-custom-class-btn {
        margin-top: 15px;
        font-size: 17px;
        font-weight: bold;
      }
      .custom-class {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 10px;
        .custom-class-name {
          padding-block: 7px;
          border: 1px solid $fadedBorderColor;
          background-color: $backgroundColor;
          box-shadow: 0px 1px 2px 1px rgba(117, 117, 117, 0.91);
          input {
            font-weight: bold;
            font-size: 18px;
            width: calc(100% - 94px);
          }
        }
        .hp-container {
          display: flex;
          justify-content: center;
          border: 1px solid $fadedBorderColor;
          background-color: $backgroundColor;
          box-shadow: 0px 1px 2px 1px rgba(117, 117, 117, 0.91);
          padding-block: 9px 4px;
          margin-block: 10px;
          label {
            font-weight: bold;
            text-decoration: underline;
            padding-inline: 9px 7px;
          }
          .hit-dice,
          .health {
            border-bottom: 2px solid;
            border-radius: 10px 2px 10px 2px;
            font-weight: bold;
            font-size: 18px;
            padding-top: 7px;
            margin-top: -4px;
            margin-right: 5px;
          }
          span {
            font-weight: bold;
            font-size: 18px;
            color: #000000b5;
          }
          .health {
            width: 40px;
          }
          .hit-dice {
            width: 50px;
            margin-left: -20px;
            padding-left: 12px;
          }
        }

        .spell-section {
          display: flex;
          flex-direction: column;
          border-block: 2px solid $fadedBorderColor;
          padding: 5px;
          margin-block: 11px 5px;

          .saving-throw-container {
            margin-top: 6px;
          }
        }
      }
    }
    .starting-equipment-container {
      border: 2px solid $fadedBorderColor;
      padding: 5px;
      margin-block: 11px 0px;
      background-color: $backgroundColor;
      box-shadow: 0px 1px 2px 2px rgba(117, 117, 117, 0.91);
      .chosen-skills {
        margin-block: 5px 8px;
      }
    }
    .custom-levels {
      border-block: 2px solid $fadedBorderColor;
      padding-block: 3px 15px;
      .h4-title {
        font-size: 18px;
      }
    }

    .chosen-skills {
      display: flex;
      flex-wrap: wrap;
    }
    svg {
      // font-size: 20px;
      margin-left: 7px;
      scale: 1.1;
    }
    .chosen-skill {
      display: flex;
      align-items: center;
      background-color: #e3e3e3;
      font-weight: bold;
      font-size: 14px;
      margin: 3px;
      padding: 3px;
    }
    .items-tab-wrapper {
      border: none;
      margin-inline: 5px;
    }
    .subclass-name-container {
      display: flex;
      margin-left: 8px;
      #subclass-label {
        border-bottom: 2px solid;
        border-left: 2px solid;
        padding-left: 3px;
        padding-right: 5px;
      }
      h4 {
        flex-grow: 1;
      }
    }
    .sub-class {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;

      width: 100%;
      .subclass-name {
        font-weight: 600;
        font-size: 20px;
        margin-block: 9px 5px;
      }
      .sub-class-feature {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        border: 2px solid;
        box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.6);
        background-color: #e3e3e3;
        padding-block: 15px;
        margin-block: 15px;
        width: 95%;

        form {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          margin: auto;
          fieldset {
            border: none;
            .feature-name {
              width: 254px;
              font-weight: 600;
              font-size: 15px;
            }

            .feature-level {
              width: 31px;

              font-size: 26px;
              font-family: $parFont;
              border-right: 2px solid #ababab;
              border-bottom: 2px solid #ababab;
              padding-top: 0;
              vertical-align: sub;
            }
            textarea {
              width: 91%;
              height: 110px;
              font-size: 17px;
              font-family: $parFont;
              margin-top: 10px;
              margin-inline: 7px;
              max-width: 92%;
              min-width: 180px;
              min-height: 30px;
              background-color: #f9f9f9;
              padding-inline: 5px;
            }
          }
        }
      }
      button {
        padding: 3px;
      }

      .save-subclass-btn,
      .new-sub-feature-btn {
        margin-top: 15px;
        font-size: 17px;
      }
    }
    .class-btn {
      font-size: 16px;
      font-weight: bold;
      width: 155px;
      margin: 15px auto 0;
      &:disabled {
        display: none;
      }
    }
    .save-race-btn {
      margin-top: 15px;
      font-size: 18px;
      font-weight: bold;
    }
  }
  .custom-proficiencies-container {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 0px 0px rgba(117, 117, 117, 0.91);
    background-color: $backgroundColor;
    border: 2px solid rgba(128, 128, 128, 0.8509803922);
    padding: 10px 5px;
    margin-block: 15px;
    .custom-proficiencies {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
    .prof-group {
      display: flex;
      flex-direction: column;
      input {
        width: 125px;
        text-align: start;
        padding-left: 5px;
        font-size: 17px;
        font-family: $parFont;
      }
    }
    span {
      font-family: $parFont;
      font-size: 12px;
      color: $fadedBorderColor;
    }
    button {
      width: 32px;
      height: 32px;

      font-size: 25px;
      font-weight: bold;
    }
  }

  .race-container {
    display: flex;
    flex-direction: column;

    .subrace-name-container {
      display: flex;
      margin-left: 8px;
      label {
        border-bottom: 2px solid;
        border-left: 2px solid;
        padding-left: 3px;
        padding-right: 5px;
      }
      h4 {
        flex-grow: 1;
      }
    }

    .race-btn,
    .sub-race-btn {
      margin: 15px auto 0;
      width: 155px;
      font-size: 16px;
      font-weight: bold;
    }
    .sub-race-btn:disabled {
      display: none;
    }
    .race-name {
      display: flex;
      margin-top: 14px;
      #race-label {
        align-self: flex-end;
      }
      #race {
        margin: 0 4px;
        padding: 5px 7px 0 5px;
        font-size: 15px;
        flex-grow: 1;
        text-decoration: underline;
        &:empty {
          border: none;
        }
      }
    }
    .delete-race-btn {
      font-size: 23px;
      height: 25px;
      border: none;
      background: none;
      margin-right: 10px;
    }

    .sub-race-container {
      display: flex;
      flex-direction: column;
      .name-container {
        display: flex;
        align-items: flex-end;
        margin-block: 15px;
        border: 1px solid $fadedBorderColor;
        background-color: #e5e5e5;
        padding-block: 10px;
        box-shadow: 1px 1px 2px 1px rgba(117, 117, 117, 0.91);
        h4 {
          margin-right: 5px;
        }
      }
      .save-subrace-btn {
        font-weight: bold;
        font-size: 20px;
        margin-block: 20px 10px;
      }
    }

    .custom-race {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .custom-proficiencies-container {
        margin-block: 0;
      }
      form {
        display: flex;
        flex-direction: column;
        padding-top: 8px;
        gap: 8px;
        box-shadow: 1px 1px 1px 0px rgba(117, 117, 117, 0.91);
        background-color: #efefef;
        border: 2px solid rgba(128, 128, 128, 0.8509803922);
        .custom-race-name {
          width: calc(100% - 160px);
          margin-right: 30px;
          font-weight: bold;
          font-size: 17px;
        }
        .delete-race-btn {
          margin-right: 0;
        }

        .custom-sub-race {
          width: calc(100% - 136px);
          font-weight: bold;
          font-size: 17px;
        }
        .age-size-speed {
          display: flex;
          justify-content: space-around;
          align-items: flex-end;
          flex-wrap: nowrap;
          // box-shadow: 1px 1px 0px 0px rgba(117, 117, 117, 0.91);
          // background-color: #efefef;
          border-top: 2px solid rgba(128, 128, 128, 0.8509803922);
          padding-block: 7px 3px;
          .custom-age,
          .custom-speed {
            width: 35px;

            font-size: 17px;
            margin-left: 6px;
          }
          .c-size-label {
            margin-bottom: 3px;
          }
          .custom-size {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding: 3px;
            border: 1px solid $fadedBorderColor;

            input {
              width: 25px;
              font-size: 17px;
              margin-right: 5px;
            }
            label {
              padding-right: 5px;
            }
            span {
              font-size: 10px;
              margin-bottom: 14px;
              font-weight: bold;
            }
          }
          label {
            // padding-inline: 7px 3px;
            font-size: 13px;
          }
        }
      }

      .custom-traits-wrapper {
        border-block: 2px solid black;
        padding-block: 3px 15px;
        .h4-title {
          text-align: center;
        }
        .tool-tip {
          font-family: $parFont;
          font-size: 12px;
          color: $fadedBorderColor;
        }
      }
    }
  }

  .perk-wrapper {
    display: flex;
    flex-direction: column;
    .perk_speed {
      border-top: 1px solid #808080d9;
    }
    .perk_starting_proficiency_options {
      button {
        margin: 4px;
        padding: 4px;
        font-size: 14px;
        font-weight: 600;
      }
    }
    .custom-size {
      display: flex;
      width: 145px;
      background-color: #efefef;
      box-shadow: 1px 1px 0px 0px rgba(117, 117, 117, 0.91);

      align-items: flex-end;
      padding: 3px;
      border: 1px solid $fadedBorderColor;

      input {
        width: 25px;
        font-size: 17px;
        margin-right: 5px;
      }
      label {
        padding-right: 5px;
      }
      span {
        font-size: 10px;
        margin-bottom: 14px;
        font-weight: bold;
      }
      h4 {
        padding-right: 10px;
      }
    }
    .perk_age {
      display: flex;
      flex-direction: column;
      padding-bottom: 5px;
      h4 {
        border: 1px solid $fadedBorderColor;
        box-shadow: 1px 1px 0px 0px rgba(117, 117, 117, 0.91);
        background-color: #efefef;
        text-decoration: underline;
        width: 100px;
        input {
          margin-left: 10px;
          width: 40px;
          font-size: 17px;
        }
      }
    }

    .perk_ability_bonus_options,
    .perk_proficiency_choices {
      button {
        margin: 3px;
        padding-inline: 3px;
        font-weight: 600;
      }
    }
    .perk_starting_equipment {
      background: $backgroundColor;
      border-inline: 1px solid $fadedBorderColor;
    }
    .perk_starting_equipment_options {
      background: $backgroundColor;
      border-inline: 1px solid $fadedBorderColor;
      .gear-choices {
        margin-block: 5px;
        border-bottom: 1px solid;
        b {
          font-size: 15px;
        }
        p {
          margin-bottom: 10px;
        }
      }
    }
    .perk_spellcasting {
      b {
        text-decoration: underline;
      }
    }
    .perk_hit_die {
      display: flex;
      flex-direction: column;
      font-size: 18px;

      h4 {
        margin-block: 2px;
      }
      span {
        text-decoration: underline;
      }
    }
    .perk_health {
      width: 165px;
      box-shadow: 1px 1px 0px 0px rgba(117, 117, 117, 0.91);
      background-color: $backgroundColor;
      border: 1px solid rgba(128, 128, 128, 0.8509803922);

      input {
        margin-left: 5px;
        width: 75px;
        font-size: 25px;
      }
    }

    .class-lvl-details {
      background-color: $backgroundColor;
      box-shadow: 0px 1px 2px 2px rgba(117, 117, 117, 0.91);
      padding: 5px;
      margin-top: 20px;
      .perk_prof_bonus {
        display: flex;
        align-items: center;
      }
      h4 {
        text-decoration: underline;
      }
      .prof_bonus_title {
        float: left;
        padding-right: 5px;
      }
      .prof_bonus {
        font-weight: bold;
      }
    }

    .perk {
      border-bottom: 1px solid #808080d9;
      padding-block: 4px;

      p {
        font-family: $parFont;
        font-size: 21px;
      }
    }
    .skills-container {
      border: none;
    }
  }

  .save-character-btn {
    align-self: center;
    margin-top: 15px;
    padding: 5px;
    font-weight: bold;
    &:disabled {
      display: none;
    }
  }
}

.skills-container {
  padding-block: 10px 15px;
  border-top: 1px solid $fadedBorderColor;

  .ismax-container {
    border: 1px solid $fadedBorderColor;
    width: 135px;
    box-shadow: 1px 1px 0px 0px rgba(117, 117, 117, 0.91);
    background-color: #efefef;
    border: 1px solid rgba(128, 128, 128, 0.8509803922);
    label {
      font-family: $parFont;
    }
    .max-input {
      width: 30px;
      font-size: 17px;
      font-weight: bold;
    }
  }
  .skill-choose {
    padding-bottom: 10px;
    font-family: $parFont;
    font-size: 18px;
  }
  .chosen-skills-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid $fadedBorderColor;
    background: $backgroundColor;
    box-shadow: 0px 1px 2px 2px rgba(117, 117, 117, 0.91);
    margin-bottom: 10px;
    padding: 5px;
    span {
      font-family: $parFont;
      font-size: 12px;
      color: rgb(65 65 65 / 85%);
    }
    .chosen-skill {
      font-weight: bold;
      padding: 3px;
      margin-inline: 2px;
      svg {
        padding-inline: 5px 0px;
      }
    }
  }
  .all-skills {
    background-color: $backgroundColor;

    box-shadow: 0px 1px 2px 2px rgb(117 117 117 / 91%);
  }

  .skill {
    font-size: 15px;
    font-weight: bold;
    margin: 3px;
    padding: 2px;
    box-shadow: 2px 2px 2px 0px rgba(117, 117, 117, 0.91);
    &:disabled {
      display: none;
    }
  }
}

.popup-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  border: 3px solid;
  width: calc(100% - 50px);
  top: 37px;
  left: 20px;
  background: rgb(80 66 66 / 97%);
  box-shadow: 0px 0px 11px 8px rgba(0, 0, 0, 0.56);
  z-index: 1;

  .type-option {
    font-size: 20px;
    background: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    &:focus {
      background-color: green;
    }
  }

  #custom-char-btn {
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    background-color: white;
  }
}
.category-tabs {
  display: flex;
  justify-content: center;
}
.category-btn {
  font-size: 19px;
  margin: 3px;
  padding: 2px 2px 0;
}
.skills-tab {
  font-size: 17px;
}

.loading {
  text-align: center;
  font-size: 30px;
}

input {
  height: 25px;
  border: none;
  box-sizing: border-box;
  padding-top: 9px;
  border-bottom: 2px solid;
  text-align: center;
  background: transparent;
}
.h4-title {
  text-decoration: underline;
}

.race-btn:disabled,
.delete-race-btn:disabled {
  display: none;
}

.base-stat-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 306px;
  padding-block: 8px;
  margin: auto;
  justify-items: center;
  label {
    border-bottom: 1px solid $fadedBorderColor;
    width: 72px;
    display: flex;
    justify-content: center;
  }
  .base-stat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    border: 11px solid transparent;
    border-image: url("./assets/border.png") 81;
    .base-stat {
      font-size: 22px;
      width: 100%;
      background: transparent;

      border-top: 2px solid;
      border-bottom: none;

      border-radius: 20px;
    }
    .bonus-stat {
      font-size: 29px;

      border: none;

      height: 33px;
    }
  }
}
.passive-stats {
  grid-template-rows: repeat(1, 1fr);
  border-bottom: 3px solid;

  input,
  h4 {
    font-size: 29px;
    font-weight: bold;
    margin-top: 5px;
    border: none;
    width: 72px;
    height: 45px;
    padding-top: 0;
  }
  h4 {
    text-align: center;
    padding-top: 3px;
  }

  label {
    font-size: 12px;
  }
}
.stat-wrapper {
  position: absolute;
  z-index: 1;
  top: 48px;
  left: 6px;

  box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.31);
  border: 17px solid transparent;
  border-image: url("./assets/border.png") 116;
  padding: 10px 7px;

  background-color: white;
  width: 235px;
  .stat-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding-top: 2px;
    padding-left: 4px;
    align-items: flex-end;
    &:nth-child(odd) {
      background-color: #e7e7e7;
    }
    .stat-input {
      width: 30px;
      height: 28px;
      text-align: center;
      font-size: 23px;
    }
    label {
      flex: 1;
      font-weight: bold;
      padding-left: 10px;
    }
    .proficiency-checkbox {
      accent-color: black;

      height: 10px;
      width: 10px;
      margin-bottom: 8px;
      &:checked:before {
        content: "";
        display: block;
        color: white;

        position: relative;
        top: -3px;
        right: 3px;
        background-color: #8b8b8b;
        border: 1px solid;
        height: 14px;
        width: 14px;
        border-radius: 50%;
      }
      &:disabled {
        visibility: hidden;
      }
    }
  }
  .close-stats {
    font-size: 15px;
  }
  .loading {
    color: black;
  }
}
.inventory-wrapper {
  display: flex;
  flex-direction: column;
  border: 17px solid transparent;
  border-image: url("./assets/border.png") 116;
  min-height: 250px;
  span {
    font-size: 13px;
    margin-block: -10px 10px;
    color: gray;
    font-family: $parFont;
  }
  .inventory-item-container {
    border-bottom: 2px solid #ababab;

    .inventory-detail-container {
      overflow: hidden;
      max-height: 100vh;
      transition: max-height 0.5s ease-in;
      .inventory-detail {
        margin-block: 5px;
      }
    }
    .hidden {
      max-height: 0vh;
      transition: max-height 0.5s ease-out;
    }
    .inventory-item {
      display: flex;
      justify-content: space-between;
      word-wrap: break-word;
      padding-block: 6px;
      align-items: center;

      .inventory-details-btn {
        position: relative;
        font-size: 20px;
        width: 30px;
        height: 25px;
        margin-right: 5px;
      }

      h5 {
        max-width: 152px;
        flex-grow: 1;
        border-left: 1px solid;
        padding-left: 5px;
      }
      .delete-item-btn {
        font-size: 23px;
        margin-left: 25px;
      }
    }
  }
}
.counter-container {
  display: flex;
  font-size: 20px;
  align-items: flex-end;
  h4 {
    font-size: 17px;
  }
  .item-count {
    margin-right: 10px;
    height: 22px;
    &::before {
      content: "x";
      font-size: 12px;
      margin-right: 2px;
    }
  }
  button {
    width: 28px;
    font-size: 28px;
    height: 28px;
    padding-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.tab-header {
  display: flex;
  color: gray;
  justify-content: center;
  border-bottom: 2px solid;
  border-radius: 15px;
  font-weight: 700;
  margin-bottom: 17px;
}
.gear-wrapper {
  border: 17px solid transparent;
  border-image: url("./assets/border.png") 116;
  min-height: 300px;

  .key_range {
    flex-direction: column;
    flex-wrap: nowrap;

    .item-value {
      display: flex;
      flex-direction: row;
      margin-left: 10px;
      h4 {
        padding: 0;
        font-size: 15px;
        font-weight: 600;
      }
      p {
        padding-right: 5px;
      }
    }
  }
  .gear-item {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ababab;
    font-size: 15px;

    .gear-item-stats {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    .key_name {
      width: 275px;
      .name {
        word-break: break-all;
      }
    }
    .desc-container {
      word-wrap: break-word;
    }
    .gear-info {
      display: flex;

      h4 {
        padding-right: 5px;
      }
    }
  }
}
.delete-item-btn {
  height: 20px;
  font-size: 27px;
  border: none;
  background-color: transparent;
}
.key_stealth_disadvantage {
  h4 {
    font-weight: 500;
    color: #9d4242;
    text-decoration: underline;
  }
}

.items-tab-wrapper,
.starting-equipment-selector {
  display: flex;
  flex-direction: column;

  &:not(.starting-equipment-selector) {
    border: 17px solid transparent;
    border-image: url("./assets/border.png") 116;
    margin-inline: 10px;
    box-shadow: 0px 0px 20px 0px #000000;

    position: absolute;
    top: 22%;
    min-width: calc(100% - 55px);
    min-height: 330px;
    background: white;
    z-index: 2;
  }
  .item-info-container {
    display: flex;
    flex-direction: column;
    .counter-container {
      .item-count {
        margin-inline: 12px 10px;
      }
    }
    .item-info {
      display: flex;
      align-items: baseline;
      padding-block: 5px;

      h4 {
        font-size: 17px;
        padding-right: 6px;
        text-decoration: underline;
      }
      p {
        font-family: $parFont;
        font-size: 19px;
      }

      .item-value {
        display: flex;
        gap: 4px;
      }
    }
    .key_desc {
      border: 2px solid $fadedBorderColor;
      flex-direction: column;
      overflow-y: scroll;
      max-height: 250px;
      padding: 5px;
      p {
        padding-block: 8px;
        border-bottom: 2px solid $fadedBorderColor;
      }
    }

    .key_range {
      display: flex;
      flex-direction: column;
    }
    .quantity-container {
      display: flex;
      align-items: flex-end;
      h4 {
        padding-right: 20px;
      }
    }
    .add-btn {
      margin-top: 10px;
      font-size: 18px;
      font-weight: bold;
    }
  }
  .item-tab-btn-container {
    display: flex;
    flex-direction: row-reverse;
    .create-item-btn {
      background-color: lightgrey;
      width: 30px;
      height: 30px;
      font-size: 25px;
      text-align: center;
      border: 1px solid;
      border-radius: 7px;
      margin: 0 5px 10px;

      svg {
        font-size: 20px;
      }
    }
  }

  .item-creator-container {
    display: flex;
    flex-direction: column;

    .item-types {
      display: flex;
      justify-content: center;

      border-bottom: 1px solid;
      margin-bottom: 14px;
      button {
        display: flex;
        align-items: center;
        font-size: 15px;
        border: none;
        height: 25px;
        border-radius: 15px;
        margin: 0 5px 4px;
        padding-inline: 4px;
        background-color: transparent;
      }
      .divider {
        background-color: black;
        width: 1px;
        height: 25px;
        margin-bottom: 4px;
      }
      svg {
        margin-inline: 3px;
        pointer-events: none;
      }

      .active {
        background-color: #d9d9d9;
      }
    }

    .item-creator {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
      height: 100%;

      input {
        font-size: 17px;
        margin-bottom: 10px;
        &:disabled {
          color: #d9d9d9;
        }
      }
      textarea {
        width: 240px;
        max-width: 297px;
        min-width: 50px;

        height: 170px;
        max-height: 176px;
        min-height: 50px;

        padding: 5px;
        font-size: 17px;
        font-family: $parFont;
      }
      .dmg-container {
        display: flex;
        input {
          width: 115px;
          font-size: 14px;
        }
      }

      .range-container {
        display: flex;
        input {
          width: 115px;
          font-size: 14px;
          margin-inline: 8px;
        }
      }
    }
  }
}
.spells-tab-wrapper {
  border: 17px solid transparent;
  border-image: url("./assets/border.png") 116;
  margin-inline: 10px;
  box-shadow: 0px 0px 20px 0px #000000;
  position: absolute;
  top: 22%;
  min-width: calc(100% - 55px);
  min-height: 330px;
  background: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  .tab-header {
    margin-bottom: 5px;
  }

  .spell-info-error {
    margin: 7px 11px;
    p {
      font-size: 25px;
      padding-block: 10px;
      font-family: $parFont;
      color: $fadedBorderColor;
    }
  }
  .spell-search-container {
    display: flex;
    justify-content: center;

    .spell-search {
      width: calc(100% - 137px);
      border: 1px solid;
      box-sizing: initial;
      font-weight: bold;
      padding-top: 0;
    }
    .search-btn {
      width: 37px;
      height: 27px;
      font-size: 23px;
    }
    .close-spells-btn {
      width: 30px;
      height: 27px;
      font-size: 22px;
      margin-inline: 15px -14px;
    }
  }
  .spell-category-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-right: 15px;
    .school-selector {
      width: 220px;
    }
    .spell-list {
      width: 285px;
    }

    .spell-lvl {
      margin-left: 5px;
      width: 30px;
      height: 37px;
      font-size: 25px;
      border: 1px solid $fadedBorderColor;
      border-radius: 9px 0px 0px 9px;
      padding-top: 5px;
    }
  }
  .add-spell-btn {
    margin-top: 10px;
    font-size: 20px;
  }
  .spell-info-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }
}
.spell-info {
  display: flex;
  flex-wrap: wrap;

  border-bottom: 1px solid $fadedBorderColor;
  padding-block: 10px;
  h4 {
    margin-right: 5px;
  }
}
.key_components {
  p {
    padding-left: 6px;
    &:not(:last-child)::after {
      content: " | ";
    }
  }
}
.key_desc,
.key_higher_level {
  p {
    font-family: $parFont;
    font-size: 19px;
  }
}
.key_desc {
  p {
    padding-block: 7px;
    &:nth-child(odd) {
      border-block: 1px solid $fadedBorderColor;
    }
  }
}
.key_classes {
  p:not(:last-child):after {
    content: ",";
    padding-right: 5px;
  }
}
.key_damage {
  flex-direction: column;

  .key_damage_type {
    display: flex;
    margin-block: 5px;
  }
  .key_higher_level {
    display: flex;
    flex-wrap: wrap;

    .item-value {
      display: flex;

      &::before {
        content: "|";
        padding-inline: 6px;
      }
    }
  }
}
.key_area_of_effect {
  display: flex;
  flex-direction: column;
  .item-value {
    display: flex;
  }
  .key_size::after {
    content: "ft";
    font-family: $parFont;
  }
}
.key_heal_at_slot_level {
  .item-value {
    display: flex;

    p::after {
      content: "hp";
      font-family: $parFont;
      font-weight: 50;
    }
    &::before {
      content: "|";
      padding-inline: 6px;
    }
  }
}
.key_dc {
  flex-direction: column;
  .item-value {
    display: flex;
  }
}
.add-btn-container {
  display: flex;
  gap: 15px;
  margin-top: 38px;
  justify-content: center;
  .add-item {
    background-color: lightgrey;
    font-size: 15px;
    padding: 3px;
    border-radius: 10px;
  }
}

// for the featureDesc popup
@-webkit-keyframes scale-animation {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
}
@keyframes scale-animation {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
}
